<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="script">
    <script>
        /* 썸네일 클릭 시 메인이미지 변경 */
        function changeMainImage(imgUrl) {
            document.querySelector('.main-image img').src = imgUrl;
        }

        document.addEventListener('DOMContentLoaded', function() {
            const thumbnails = document.querySelectorAll('.thumbnail img');
            thumbnails.forEach(thumbnail => {
                thumbnail.addEventListener('click', function() {
                    const imgUrl = this.getAttribute('data-img-url');
                    changeMainImage(imgUrl);
                });
            });
        });
    </script>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/auctionItemDetail.css}" />
</th:block>

<div layout:fragment="content" class="content-wrapper">

    <!-- 상품 이름 -->
    <h2 class="item-title" th:text="${auctionItem.itemName}"></h2>
    <div class="underline"></div> <!-- 밑줄 추가 -->

    <!-- 상품 이미지 및 정보 -->
    <div class="item-detail-container">
        <div class="item-image">
            <div class="main-image">
                <img th:src="@{${auctionItem.auctionImgs.?[repimgYn=='Y'][0].imgUrl}}" alt="대표 이미지" />
            </div>
            <div class="thumbnail-container">
                <div class="thumbnail" th:each="img : ${auctionItem.auctionImgs}">
                    <img th:src="${img.imgUrl}"
                         th:attr="data-img-url=${img.imgUrl}"
                         alt="썸네일" />
                </div>
            </div>
        </div>
        <!-- 상품 정보 및 가격 -->
        <div class="item-info">
            <div>시작 금액: <span th:text="${auctionItem.bidPrice}"></span>원</div>
            <div th:text="${auctionItem.itemLongDetail}"></div>
        </div>
    </div>

    <div class="underline"></div> <!-- 등록된 사진들 섹션 위쪽 밑줄 추가 -->

    <!-- 등록된 사진들을 보여주는 섹션 -->
    <div class="item-images">
        <div class="itemDetail-container">
            <div class="itemDetail" th:each="img : ${auctionItem.auctionImgs}">
                <img th:src="${img.imgUrl}" alt="등록 사진" />
            </div>
        </div>
    </div>

    <!-- 상품 설명 -->
    <div class="item-description">
        <p th:text="${auctionItem.itemLongDetail}"></p>
    </div>

    <a href="/auction/items">상품 목록으로 돌아가기</a>
</div>

</html>